<div id="page_wrapper">
<h4>Регистрация</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


<div>Имя<br />
  <%= f.text_field :name, autofocus: true, style: "width: 40%;" %></div>

  <div><%= f.label(t("devise.email")) %><br />
  <%= f.email_field :email, autofocus: true, style: "width: 40%;" %></div>
  <br>
  <div>Пароль<% if @validatable %><i>(<%= @minimum_password_length  %> characters minimum)</i><% end %><br /> 
    <%= f.password_field :password, autocomplete: "off", style: "width: 40%;" %></div>

  <div>Подтверждение пароля<br>
	  <%= f.password_field :password_confirmation, autocomplete: "off", style: "width: 40%;" %></div>
  
 
  <br>
  <div><%= f.submit("Зарегистрироваться", class: "btn") %></div>
<% end %>
  <br>
<%= render "devise/shared/links" %>
</div>
